<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true"></mat-spinner>
  <div *ngSwitchCase="false" dense>
  <div class="create-button">
    <button *ngIf="!isCreate" mat-raised-button color="primary" (click)="isCreate=true">Create new User</button>
  </div>
  <hr>
  <app-user-create *ngIf="isCreate" (canceled)="cancelCreate()" (created)="createUser($event)"></app-user-create>
  <app-user-item *ngFor="let user of users" [item]="user" (onRemove)="removeUser($event)"></app-user-item>
</div>
