<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true">
  </mat-spinner>
  <div *ngSwitchCase="false">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Task Name</mat-label>
          <input matInput placeholder="Task Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Task Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Finished date (not required)</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="finishedAt" />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-select [compareWith]="compareUsers" formControlName="performer" placeholder="Performer">
            <mat-option *ngFor="let user of users" [value]="user">{{
              user.firstName + " " + user.lastName
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p>Complete the form to enable button.</p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">Save</button>
      <button mat-raised-button color="basic" (click)="cancelCreate()">Cancel</button>
      <hr>
    </form>
  </div>
</div>
