<div appTask [task]="task" class="info-panel">
  <h3>{{task?.id}}-{{task?.name}}</h3>
  <hr>
  <p>Performer: {{task?.performer.firstName+" "+task?.performer.lastName}}</p>
  <p>Finished: {{task?.finishedAt | UaDate}}</p>
  <button [routerLink]="['./'+task.id]" mat-raised-button color="primary">Info</button>
  <button mat-raised-button color="warn" (click)="remove()">Remove</button>
  <button *ngIf="!task.finishedAt" mat-raised-button color="accent" (click)="finishTask()">Finish</button>
</div>
