<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true"></mat-spinner>
  <div *ngSwitchCase="false">
    <div *ngIf="!isEdit" class="info-panel">
      <p>Name: {{project.name}}</p>
      <p>Description: {{project.description}}</p>
      <p>Deadline: {{project.deadline | UaDate}}</p>
      <p>Created At: {{project.createdAt | UaDate}}</p>
      <p>Team: {{project.team.name}}</p>
      <p>Author: {{project.author.firstName+" "+ project.author.lastName}}</p>
      <button mat-raised-button color="primary" (click)="editProject()">Edit</button>
      <button mat-raised-button color="basic" [routerLink]="['../']">To List</button>
    </div>
    <form *ngIf="isEdit" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Project Name</mat-label>
          <input matInput placeholder="Project" formControlName="name">
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Project Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Deadline date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="deadline" />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-select [compareWith]="compareTeams" formControlName="team" placeholder="Team">
            <mat-option *ngFor="let team of teams" [value]="team">{{
              team.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-select [compareWith]="compareUsers" formControlName="author" placeholder="Author">
            <mat-option *ngFor="let user of users" [value]="user">{{
              user.firstName + " " + user.lastName
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p>Complete the form to enable button.</p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!projectForm.valid">Save</button>
      <button mat-raised-button color="basic" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
