<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true"></mat-spinner>
  <div *ngSwitchCase="false">
    <div *ngIf="!isEdit" class="info-panel">
      <p>FullName: {{user | UserInfo}}</p>
      <p>Email: {{ user.email?user.email:"none"}}</p>
      <p>BirthDay: {{user.birthDay | UaDate}}</p>
      <p>Registered At: {{user.registeredAt | UaDate}}</p>
      <p>Team: {{user.team.name}}</p>
      <button mat-raised-button color="primary" (click)="editUser()">Edit</button>
      <button mat-raised-button color="basic" [routerLink]="['../']">To List</button>
    </div>
    <form *ngIf="isEdit" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="ex@example.com" formControlName="email">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Birthday date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDay" />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-select [compareWith]="compareTeams" formControlName="team" placeholder="Team">
            <mat-option *ngFor="let team of teams" [value]="team">{{
              team.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <p>Complete the form to enable button.</p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
      <button mat-raised-button color="basic" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
