<div class="info-panel">
  <h3>{{user|UserInfo}}</h3>
  <hr>
  <p>Email: {{user.email?user.email:"none"}}</p>
  <p>Team: {{user.team?.name?user.team.name:"none"}}</p>
  <button [routerLink]="['./'+user.id]" mat-raised-button color="primary">Info</button>
  <button mat-raised-button color="warn" (click)="remove()">Remove</button>
</div>
