/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.info-panel {
  padding:.5em;
  box-shadow: 0 0 2px grey;
  margin:1em .1em;
  background-color: #eeeeee;
}

.form-group-control {
  &>* {
    display:block;
    margin:.1em;
  }
}

button {
  margin: 0 .4em !important;
}

