<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true"></mat-spinner>
  <div *ngSwitchCase="false" dense>
    <button mat-raised-button color="primary" *ngIf="!isCreate" (click)="isCreate=true">Create new Team</button>
    <hr>
    <app-team-create *ngIf="isCreate" (created)="onCreated($event)" (canceled)="onCancel()"></app-team-create>
    <div *ngFor="let team of teams">
      <app-team-item [item]="team" (onRemove)="onRemoveItem($event)"></app-team-item>
    </div>
  </div>
</div>
