<div class="info-panel">
  <h3>{{project?.id}}-{{project?.name}}</h3>
  <hr>
  <p>Created At: {{project.createdAt | UaDate}}</p>
  <p>Deadline: {{project.deadline | UaDate}}</p>
  <button mat-raised-button color="primary" [routerLink]="['./'+project.id]">Info</button>
  <button mat-raised-button color="warn" (click)="remove()">Remove</button>
</div>
